@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 13px;
    font-family: "PlemolJP Console NF";
}
window#waybar{
	background: rgba(169, 98, 110, 0); 
}
.modules-left {
    padding:10px;
    margin: 5px 5px 5px 10px;
    border-radius: 10px;
    background: @color0;
}
.modules-center {
    padding:7px;
    margin: 5px 5px 5px 5px;
    border-radius:10px;
    background: @color0;
 
}
/* .modules-right {
	padding:7px;
    margin: 10px 10px 5px 5px;
    border-radius:0px 0px 5px 0px;
    background: @color0;
}*/ 
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover,#bluetooth:hover ,#cpu:hover, #memory:hover, #pulseaudio:hover, #custom-spotify:hover, #pulseaudio:hover, #custom-gpu:hover{
    transition: all .3s ease;
    color:@color9;
}
#workspaces {
    padding: 5px 0px 5px 15px;
    color: @color8;
    transition: all .2s ease;
}
#workspaces button {
    all:unset;
    padding: 0px 5px 0px 5px;
    color: @color8;
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@color16;
    border: none;
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color4;
    border: none;
}
#window {
	color: @color0;
	background: @color4;
	margin: 0px 0px 0px 10px;
	padding: 5px 10px 5px 10px;
	border-radius: 5px 5px 5px 5px;
}
#clock, #workspaces, #cpu, #memory, #temperature,#custom-gpu {
    padding: 0px 5px 0px 5px;
    transition: all .3s ease; 
    color:@color4;
}
#clock{
    padding: 0px 5px;
    transition: all .3s ease;
    margin: 0px 10px 0px 10px;
}
#cpu {
	padding: 0px 5px 0px 5px;
}
#memory {
	padding: 0px 10px 0px 5px
}
#tray {
    background: @color4;
	padding:0px 10px 0px 10px;
	border-radius: 5px 5px 5px 5px;
	margin: 0px 0px 0px 10px;
}
#custom-spotify, #cava, #pulseaudio {
    color: @color0;
	background: @color4;
    border-radius: 0px 0px 0px 0px;
    
}
#cava {
	border-radius: 3px 0px 0px 3px;
	padding: 0px 10px 0px 15px;
}
#custom-spotify {
	padding: 5px 5px 5px 5px;
}
#pulseaudio {
	border-radius: 0px 3px 3px 0px;
	padding: 0px 15px 0px 10px;
}

