@import url('../../.cache/wal/colors-waybar.css');

* {
    font-size: 13px;
    font-family: "Comic Shanns Mono Nerd Font";
}
window#waybar{
	all: unset;
	/* background: @color0; */
}
/* .modules-left {
    padding:7px;
    margin:0px 0px 0px 0px;
    border-radius:0px 10px 0px 0px;
    background: @color0;
} */
.modules-center {
    padding:7px;
    margin:5px 0px 5px 0px;
    border-radius:5px 5px 5px 5px;
    background: @color0;
 
}
/*
.modules-right {
	padding:7px;
    margin: 5px 0px 0px 0px;
    border-radius:10px 0px 0px 0px;
    background: @color0;
}*/
tooltip {
    background:@background;
    color: @color7;
}
#clock:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#cpu:hover,#memory:hover. #pulseaudio:hover, #custom-spotify:hover, #cava:hover, #pulseaudio:hover{
    transition: all .3s ease;
    color:@color9;
}
#clock{
    padding: 0px 5px;
    color:@color15;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color7;

}
#workspaces {
    padding: 5px 10px 5px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px 0px 5px;
    color: @color8;
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@color16;
    border: none;
    transition: all 1s ease;
}
#workspaces button.active {
    color: @color6;
    border: none;
}
#workspaces button.empty.active {
    color: @color6;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    transition: all .3s ease;
    color:@color15;

}
#network{
    transition: all .3s ease;
    color:@color15;

}
#clock #workspaces #cpu,#memory,#temperature{
    padding: 0px 15px 0px 10px;
    transition: all .3s ease; 
    color:@color15;

}
#tray, #pulseaudio, #custom-spotify, #cava, #bluetooth, #network {
    padding: 0px 7px 0px 7px;
    transition: all .3s ease; 
    color:@color15;
}
#custom-spotify {
	background: @color6;
    border-radius: 0px 0px 0px 0px;
}
#cava {
	background: @color6;
	border-radius: 3px 0px 0px 3px;
	padding: 0px 10px 0px 15px;
}
#pulseaudio {
	background: @color6;
	border-radius: 0px 3px 3px 0px;
	padding: 0px 15px 0px 10px;
}
#tray {
	padding: 0px 10px 0px 10px;
}
